<!doctype html>
<html lang="en-US" ng-app="deceleroo">
<head>
  <title>Decele'roo</title>
  <link rel="stylesheet" href="global.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono|Staatliches" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="Description" content="Wellness content for Minerva students, with articles & videos & podcasts">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="manifest" href="manifest.json">
  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
  <link rel="mask-icon" href="safari-pinned-tab.svg" color="#8093ed">
  <meta name="msapplication-TileColor" content="#2d89ef">
  <meta name="theme-color" content="#fca500">
</head>
<body
  ng-controller="ThemeControl"
  ng-style="{
    'background': theme.background,
    'color': theme.text
  }"
  ng-cloak
  >
  <div
    class="scroll-lines-wrap vh"
    ng-style="{'width': linesWidth}"
    ng-class="{'lazy': currentRoute == '/'}"
    ng-if="dataLoaded"
    >
    <div
      class="line"
      ng-repeat="line in lines"
      ng-style="{
        'background': theme.text,
        'left': line + '%'
      }"
      >
    </div>
  </div>
  <nav ng-controller="NavControl" ng-cloak>
    <div
      class="overlay vh"
      ng-click="
        navOff();
      "
      ng-style="{'background': theme.background }"
      >
    </div>
    <div
      class="nav-button switch-on"
      ng-click="
        navOn();
      "
      ng-style="{'background': theme.primary }"
      >
      <div class="hamburger center">
        <div
          class="line-1 center"
          ng-style="{'background': theme.tertiary }"
          >
        </div>
        <div
          class="line-2 center"
          ng-style="{'background': theme.tertiary }"
          >
        </div>
        <div
          class="line-3 center"
          ng-style="{'background': theme.tertiary }"
          >
        </div>
      </div>
    </div>
    <div
      class="nav-panel vh"
      ng-style="{
        'background': theme.background
      }"
      >
      <div
        class="nav-button switch-off"
        ng-click="
          navOff();
          "
        ng-style="{'background': theme.primary }"
        >
        <div class="x-wrap center">
          <div
            class="line-1 center"
            ng-style="{'background': theme.tertiary }"
            >
          </div>
          <div
            class="line-2 center"
            ng-style="{'background': theme.tertiary }"
            >
          </div>
        </div>
      </div>
      <div class="nav-links center">
        <a ng-repeat="page in pages"
        ng-href="#{{pages.indexOf(page) == 0 ? '/' : page.toLowerCase()}}"
        ng-class="{'active-link': currentRoute.replace('/', '') == page.toLowerCase() || (currentRoute == '/' && pages.indexOf(page) == 0)}"
        class="nav-link"
        ng-style="{'color': $index == $parent.$parent.navLoading ? '#ffc107' : ''}"
        ng-click="loadingToggle($index, page, pages)"
        >
          {{page}}&nbsp;
          <div class="loading-bar-wrap">
            <div class="loading-bar center" ng-class="{'on': $index == $parent.$parent.navLoading}"></div>
          </div>
      </a>
    </div>
  </nav>
  <div ng-view class="view">
  </div>
  <div
    class="details-wrap vh"
    ng-cloak
    >
    <div
      class="details nav-button switch-off"
      ng-click="eraseDetails()"
      ng-style="{'background': details.podcast || details.video ? darkTheme.primary : lightTheme.primary}"
      >
      <div class="x-wrap center">
        <div
          class="line-1 center"
          ng-style="{'background': theme.tertiary }"
          >
        </div>
        <div
          class="line-2 center"
          ng-style="{'background': theme.tertiary }"
          >
        </div>
      </div>
    </div>
    <div
      class="details-inner-wrap podcast"
      ng-if="details.podcast"
      ng-style="{
        'background': darkTheme.background,
        'color': darkTheme.text
      }"
      >
      <div class="details-text-wrap center">
        <h1>{{details.podcast.name}}</h1>
        <audio controls>
          <source ng-src="media/{{details.podcast.link}}" type="audio/mpeg">
        </audio>
        <div class="details-des-wrap">
          <p>
            {{details.podcast.des}}
          </p>
          <span ng-if="details.podcast.complementary">
            <p>
              Complementary resources:
            </p>
            <p ng-repeat="link in details.podcast.complementary">
              - <a ng-href="link.link">{{link.name}}</a>
            </p>
          </span>
          <span ng-if="details.podcast.additional">
            <p>
              Additional resources:
            </p>
            <p ng-repeat="link in details.podcast.additional">
              - <a ng-href="link.link">{{link.name}}</a>
            </p>
          </span>
        </div>
      </div>
    </div>
    <div class="details-inner-wrap video" ng-if="details.video">
      <iframe
        class="center"
        width="100%"
        height="85%"
        ng-src="{{trustSrc(details.video.link + '?iv_load_policy=3&color=white')}}"
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.7/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.7/angular-route.min.js"></script>
  <script src="angular.js"></script>
</body>
</html>
