/* Global mods */
a:hover {
  color: #bababa;
}
main {
  margin-top: 0;
}
.nav-background {
  background-color: #ffffff;
}
.mobile-nav-bar {
  background-color: rgba(255, 255, 255, 0.97);
  box-shadow: 0 60px 40px rgba(200, 200, 200, 0.2);
}
.nav-link, .nav-link.logo-normal:hover {
  color: #444444;
}
.mobile-nav-item:hover .nav-link[href*="about"] {
  color: #999999;
}
.nav-link[href*="about"] {
  color: #999999;
}
.nav-ham div {
  background-color: #444444;
}


/* Main */
.inner-wrap {
  width: 100%;
  border-top: 2px dashed #efefef;
}
.text-box {
  text-align: left;
  width: 520px;
}
.text-box h1, .text-box p {
  margin-bottom: 20px;
}
.title {
  font-size: 60px;
  text-shadow: 0px 5px 30px rgba(200,200,200, 0.3);
}
.text {
  font-size: 24px;
}
.portrait {
  display: inline-block;
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 20px;
  box-shadow: -5px 10px 50px rgba(150,150,150, 0.4);
  margin-bottom: 30px;
  margin-top: 30px;
}
.header-wrap {
  position: relative;
  height: 100vh;
}
.header-box {
  width: 520px;
  text-align: center;
}
.header-text {
  text-align: center;
  font-size: 100px;
  text-shadow: 0 0 50px rgba(200,200,200, 0.5);
}
.what-wrap {
  position: relative;
}
.what-title {
  text-shadow: 0 0 50px rgba(200,200,200, 0.5);
}
.who-wrap {
  position: relative;

}
.who-title {
  text-shadow: 0 0 50px rgba(200,200,200, 0.5);
}
.how-wrap {
  position: relative;

}
.how-title {
  text-shadow: 0 0 50px rgba(200,200,200, 0.5);
}

@media only screen and (max-width: 1024px) {
  .text-box, .header-box {
    width: 440px;
  }
  .header-text {
    font-size: 80px;
  }
  .title {
    font-size: 48px;
  }
  .text {
    font-size: 22px;
  }
}
@media only screen and (max-width: 767px) {
  .text-box, .header-box {
    width: 300px;
  }
  .header-text {
    font-size: 60px;
  }
  .title {
    font-size: 42px;
  }
  .text {
    font-size: 22px;
  }
}
