a:hover {
  transition: all 0.3s;
  color: #c1c1c1;
  -webkit-text-decoration: underline;
  text-decoration: underline;
}
li {
  list-style-type: none;
  margin-left: 15px;
  margin-bottom: 7px;
}
li:last-child {
  margin-bottom: 15px;
}
li::before {
  content: "- ";
  color: #fafafa;
}
.wrap {
  position: relative;
  height: 900px;
  background-color: #010618;
}
.box {
  width: 520px;
  text-align: left;
}
.title {
  font-size: 42px;
  color: #ffffff;
  text-shadow: 0px 5px 30px rgba(200,200,200, 0.3);
}
.text {
  font-size: 24px; color: #fafafa;
  text-shadow: 0px 5px 20px rgba(200,200,200, 0.1);
  line-height: 1.4;
}
.title, .text {
  margin-bottom: 15px;
}
.audio {
  position: fixed;
  bottom: 0%;
  left: 50%;
  width: 520px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  box-shadow: 0 0 60px rgba(1, 6, 24);
}
@media only screen and (max-width: 1024px) {
  .box, .audio {
    width: 440px;
  }
  .title {
    font-size: 38px;
  }
  .text {
    font-size: 22px;
  }
  .wrap {
    height: 850px;
    min-height: 100vh;
  }
}
@media only screen and (max-width: 767px) {
  .box {
    width: 300px;
  }
  .title {
    font-size: 32px;
  }
  .text {
    font-size: 22px;
  }
  .wrap {
    height: 1050px;
    min-height: 100vh;
  }
  .audio {
    width: 100%;
  }
}
